@* binding with department class in models folder *@
@model PrjMvcfirstcoreapp.Models.Department 
@{
    ViewData["Title"] = "Displaydept";
}

<h1>Displaydept</h1>
<h2>Model -->Binds with variables in department class </h2>
<ul>
    <li>@Model.did</li>
    <li>@Model.dname</li>
</ul>

